<nav class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/personajes/crear">Cargar personajes</a></li>
        <li><a href="/personajes">Personajes</a></li>
    </ul>
</nav>